# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# Raw datasets
data/raw/*.csv

# Cleaned datasets
data/cleaned/*.csv

# Environment / secrets
.env
*.env

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
~$*